<ul class="main-navigation">


<li><a href="{{ root_url }}/">Home</a></li>

<li><a href="{{ root_url }}/blog/archives">Archives</a></li>

<li><a href="{{ root_url }}/blog/categories/stuff">Stuff</a></li>

<li><a href="{{  root_url }}/bookshelf">Bookshelf</a></li>

<!--
	<li><a href="{{  root_url }}/blog/stuff">Stuff</a></li>

	Commented out for present.
<li><a href="{{  root_url }}/blog/categories/data-mining">Data Mining</a></li>

<li><a href="{{ root_url }}/blog/bookrack ">Bookrack</a></li>

-->
<li><a href="{{ root_url }}/about ">About</a></li>


</ul>
